@font-face {
  font-family: 'PostNoBillsJaffna';
  src: url('./assets/fonts/post-no-bills-jaffna-cufonfonts/PostNoBillsJaffna-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #0a0a0a;
  font-family: 'Inter', sans-serif !important;
  overscroll-behavior: none;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
